#toPdf{
    font-family: arial;
    max-width:840px;
    margin:0 auto;
    font-size:14px;
    max-height:1120px;
    min-height:1120px;
    min-width:840px;
    box-sizing: border-box;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ul {
   list-style-type: none;
}

li {
    margin-bottom:10px;
    display:flex;
    justify-content: flex-start;
}


h1{
    font-size: 36px;
    font-weight:bold
}

h2 {
    font-size:20px;
}

h3 {
    font-size:17px;
    border-bottom: 5px solid black;
    padding-bottom:5px;
    margin-bottom:10px;
}

h4{
    font-size:15px;
    font-weight: bold;
    white-space: nowrap;
}
header {
    display:flex;
    justify-content: space-between; 
    padding:20px;
    padding-bottom:0;
    position: relative;
}

header div {
    border-bottom:10px solid black;
    padding-bottom:15px;
}

img {
    position:absolute;
    right:80px;
    top:10px;
    /* box-shadow: 5px 5px 5px lightgrey; */
}

#hero{
    box-sizing: border-box;
    padding:10px 20px;
    font-size:14px;
    width:76%;
}

main {
    box-sizing: border-box;
    display:flex;
    flex-wrap: wrap;
    column-gap: 5%;
    background-color: #4A919E;
    padding:10px 0;
    width:760px;
    
}

.first-section {
    width:100%;
}

.second-section {
    width:100%;
    display:flex;
    column-gap: 20px;
}

.second-section article {
    flex:1;
}

#contact {
    flex:1.2
}

main  article {
    width:100%;
    margin-bottom:15px;
}



 article div {
    margin-bottom:10px;
 }



.projets >div>div{
    margin-bottom:5px;
}

article div,  article ul, article h3 {
    padding-left:30px;
}

#contact ul li p {
    color:black;
}

article ul li {
    display:flex;
    align-items: baseline;
    margin-bottom:8px;
}


h4 +p {
    color:#212E53
}

article li {
    color:#212E53
}


.experience {
    width:100%;
}

.experience div {
    display:flex;
    margin:0;
    margin-bottom:5px;
    align-items: center;
}

.experience div p, .perso div div p, .perso div p, #contact ul li p, .formation div p, article p{
    padding-left:10px;
}

.formation div p{
    margin-right:60px;
}